* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  justify-content: center;
  text-align: center;
  display: inline;
}
<<<<<<< HEAD

.container {
  background-color: #fff;
  height: 100vh;
  overflow: scroll;
=======
.container{
  background: linear-gradient(135deg,#ce9affaa,#95bfffd3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 height: 100vh;
 overflow: scroll;
>>>>>>> 421b8db676dc2a0ddc1272cf78b354d2e5b1db2f
}

.container::-webkit-scrollbar {
  display: none;
}


.todo-app {
  width: 390px;
  height: 350px;
  margin: 80px auto;
  border-radius: 10px;
  padding: 1.5vw 4.5vw;
<<<<<<< HEAD
  background-color: rgb(101, 142, 183);
=======
  background-color: rgba(170, 170, 170, 0.2);
>>>>>>> 421b8db676dc2a0ddc1272cf78b354d2e5b1db2f
  overflow: scroll;
  margin-bottom: 8px;

}

.todo-app::-webkit-scrollbar {
  display: none;
}

.top {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.todo-app h2 {
  text-shadow: 2px 2px 0px rgb(255, 252, 252);
  color: #003b9a;
  margin-bottom: 3vh;
  font-size: 30px;
}

.todo-app img {
  width: 35px;
  height: 35px;
  margin-left: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 15px;
}

input {
  background-color: white !important;
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  padding: 5px;
  font-size: 16px;
  height: 6.6vh;

}

button {
  border: none;
  outline: none;
  padding: 10px 22px;
  color: #fff;
<<<<<<< HEAD

  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  font-size: 20px;
=======
  background: slategrey;
  cursor: pointer;
  font-size: 30px;
>>>>>>> 421b8db676dc2a0ddc1272cf78b354d2e5b1db2f
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 8px 10px 12px 45px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: black;
  font-weight: 520;
}

ul li::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 1.1vh;
  left: 5px;
}

ul li.checked {
  color: #E6F0FA;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
  color: black;
  font-size: 22px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

.clear {
  color: white;
  background: #4173a5;
}